# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
py_agent/
.venv

# Jupyter Notebook
.ipynb_checkpoints
.ipynb

# Vector database files
*.bin
chroma_db/
#doc files
data/

# IDE files
.vscode/
.idea/

# OS specific files
.DS_Store
EOL

#folder
sample/
