# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
py_agent/

# Jupyter Notebook
.ipynb_checkpoints

# Vector database files
*.bin
chroma/
#doc files
data/

# IDE files
.vscode/
.idea/

# OS specific files
.DS_Store
EOL